<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Flask</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1> Interior Cleaning Interior Germkleen Plus Treatment </h1>
    <p> Stop germs from making your car unsafe!
      <br>Drive out germs and get your car interiors 99.9% germfree and clean.
      <br>End to End car care and cleaning program for your car interiors: 3M Germkleen
      <br>interior treatment + AC duct cleaning + 5 point check.</p>
    <h1> Paint Protection Film </h1>
    <p> Paint Protection film is an extremely durable, colorless urethane film 
      <br>that is applied to high-impact, vulnerable areas of your vehicle. PPF 
      <br>protects your car paint from road hazards such as flying gravel during
      <br>highway driving, scratches or abrasions because of other vehicle or obstacle, 
      <br>tar, and bird droppings.</p>

    {% endblock %}
  </body>
</html>
